<div class="container">

    <!-- 個別のポケモンの詳細を表示する部分 -->
    <div *ngIf="pokemonDetail" class="card-wrapper">
      <h1>You've got a Pokemon Card!</h1>
      <app-card [childCard]="pokemonDetail"></app-card>
  </div>

  <!-- Type検索結果のリストを表示する部分 -->
  <div *ngIf="pokemonDetailsList.length > 0" class="container">
    <h2>Pokemons of Selected Type</h2>
    <div class="cards-container">
        <app-card *ngFor="let pokemonDetail of pokemonDetailsList" [childCard]="pokemonDetail"></app-card>
    </div>
</div>


  </div>
      

