<body>
    <div class="form-wrapper">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search by ID" aria-label="Search" #searchInput>
            <button class="btn btn-outline-success" type="submit" (click)="displayPokemon(searchInput.value)">SEARCH</button>
        </form>
    </div>

    <main>
        <span>Search Your Favorite Pokemon!!</span>
        <div>
            <img src="/assets/img/kodakku.png" alt="kodakku">
        </div>
    </main>

    </body>
    
      
    