:root {
    --main-color: black;
    --sub-color: gray;
    --main-font-family: 'Poppins', sans-serif;;
    --main-font-size: 20px;
    --bg-color: rgb(0, 0, 0);
} 

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'VT323', monospace;}